* {
  font-family: Roboto;
}

button {
  cursor: pointer !important;
}

.toggle-show {
    left: 0 !important;
    transition: 0.5s;
}

.toggle-navbar {
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  text-align: center;
  top: 85px;
  left: -320px;
  bottom: 0;
  right: 0;
  max-width: 300px;
  width: 100%;
  box-shadow: 0 0 5px gray;
  border-top-right-radius: 5px;
  height: 100%;
  z-index: -1;
  transition: 0.5s;
  ul {
    max-width: 300px;
    width: 100%;
    margin-top: 80px;
    li {
      margin-top: 10px;
      border-radius: 5px;
      a {
        color: #000;
        padding: 10px;
        border-radius: 5px;
        font-family: sans-serif !important;
        font-size: 18px;
        display: inline-block;
        width: 100%;
      }
    }
  }
}
.toggle-menu {
  display: inline-block;
  background-color: rgba(239, 124, 0, 1);
  border-radius: 4px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  @media (min-width: 1141px) {
    display: none;
  }
}

.header {
  padding: 20px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 11 !important;
  background-color: #fff;
  box-shadow: 1px 1px 10px #c2c1c1 !important;
  border-radius: 2px solid red;

  .navbar,
  .nav-left,
  .nav-right,
  .nav-languages {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .nav-left {
    img {
      max-width: 100px;
      width: 100%;
      cursor: pointer;
    }
  }

  .nav-left ul {
    align-items: center;
    display: none;
    a {
      font-family: sans-serif !important;
      color: rgb(5, 5, 32);
      font-size: 16px;
      transition: 0.5s;
      &:hover {
        color: rgba(239, 124, 0, 1);
      }
    }
    @media (min-width: 1141px) {
      display: flex;
    }

    .dropbtn {
      color: rgb(5, 5, 32);
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      border-radius: 5px;
      top: 30px;
      background-color: #f9f9f9;
      min-width: 200px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      border-radius: 5px;
      &:hover {
        color: rgba(239, 124, 0, 1);
      }
    }

    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
  }

  .nav-left ul,
  .nav-right {
    gap: 5px;
    img {
      cursor: pointer;
    }
    .line {
      display: inline-block;
      height: 30px;
      width: 2px;
      background-color: rgba(128, 128, 128, 0.138);
    }
  }

  .nav-languages {
    gap: 5px;
    a:hover {
      color: rgba(239, 124, 0, 1);
    }
  }

  .navbar {
    justify-content: space-between;
  }
}

.dark,
.dark .header {
  background-color: #000;
  color: #fff !important;
}

.dark {
  .header {
    box-shadow: 1px 1px 10px rgba(239, 124, 0, 1);
    &-logo {
      background-color: rgba(239, 123, 0, 0.232);
      border-radius: 4px;
      padding: 4px;
    }
    ul {
      li {
        .dropbtn {
          color: #fff !important;
          &:hover {
            color: rgba(239, 124, 0, 1) !important;
          }
        }
      }
    }
  }
  .toggle-menu{
    img{
        background-color: #fff !important;
    }
  }
}
