.card{
    max-width: 400px;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 1px 10px #e2e1e1;
    img{
        max-width: 200px;
        border-radius: 50%;
        width: 100%;
    }
    h4{
        font-family: sans-serif !important;
        margin-top: 10px;
    }
    p{
        font-family: sans-serif !important;
        margin-top: 5px;
    }
}