*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto !important ;
}

.container{
    max-width: 1380px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}